<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table,th,td{padding: 5px;}
    </style>
</head>
<body>
    <form method="post" action="/updatekategori/<%= id %>">
        <table>
            <tr>
                <th>Edit Kategori</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="update" placeholder="<%= kategori[0].nama_kategori %>">
                </td>
            </tr>
        </table>
        <br/>
        <input type="submit" value="submit"/>        
    </form>
    <br/>
</body>
</html>