<head>
    <style>
        table,th,td{padding: 5px;}
    </style>
</head>

<body>
    <h1>Season</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Season</th>
            </tr>

            <% season.forEach(x => { %>
                <tr>
                    <td><%= x.id%></td>
                    <td><a href="/userkategori/<%= x.id%>"> <%= x.nama_season%> </a></td>
                </tr>
            <%})%>
        </table>
</body>



