<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kategori</title>
    <style>
        table,th,td{padding: 5px;}
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Kategori</th>
        </tr>
    
        <% kategori.forEach(x => { %>
        <tr>
            <td><a href="/userproduct/<%= x.id%>"> <%=x.nama_kategori%> </a></td>                
        </tr>
        <%})%>
    </table>
    <br/>
    <button><a href="/home">Back</a></button>
</body>
</html>